mrcfile==1.1.2 # BSD
multiprocess==0.70.8 # BSD
numpy==1.22.0 # BSD
pandas==0.24.2 # BSD
imageio==2.5.0 # BSD
Sphinx==2.2.0 # BSD
terminado==0.8.1 # BSD
tornado==6.0.2 # Apache 2.0
uvloop==0.13.0 # Apache 2.0 (dual license)
