

/* .mrc-gallery {
  background-color: #eee;
  max-height: 50vh;
} */
.class-gallery{
  background-color: #eee;
  overflow: auto;
  max-height: 50vh;
  white-space: pre-wrap;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.terminal {
  background-color: #eee;
  overflow: auto;
  max-height: 50vh;
  white-space: pre-wrap;
}

@media (min-width: 768px) {
body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#left, #right {
  max-height:80vh;
  overflow-y: scroll;
}
}
