

/* .mrc-gallery {
  background-color: #eee;
  max-height: 50vh;
} */
.class-gallery{
  background-color: #eee;
  overflow: auto;
  max-height: 50vh;
  white-space: pre-wrap;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}


.terminal {
  background-color: #eee;
  overflow: auto;
  max-height: 50vh;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column-reverse;
}
.pagination > li > a
{
  font-weight: bold;
}
.pagination > .active > a.text-success {
    color: white !important;
    background-color: #28a745 !important;
    border: solid 1px #28a745 !important;
}

.pagination > .active > a.text-primary {
    color: white !important;
    background-color: #007bff !important;
    border: solid 1px #007bff !important;
}

.pagination > .active > a.text-muted {
      color: white !important;
      background-color: #6c757d !important;
      border: solid 1px #6c757d !important;
}


@media (min-width: 768px) {
body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
}

#left, #right {
  max-height:95vh;
  overflow-y: scroll;
}
}
