<h5 class="text-center">Classification Cycle Selector</h5>
<nav aria-label="Class Navigation" class="my-1">
  <ul class="pagination pagination-sm flex-wrap justify-content-center">
    {% for number,type in classification_list %}
      <li class="page-item  {% if number == int(current_gallery['number']) %}active{% end %}">
        <a class="page-link {% if type == 'random_seed' %}text-muted {% elif type=='startup' %}text-primary {%elif type=='refinement' %}text-success{%end%}" href="#" id="classification-link-{{ number }}">{{number}}</a>
      </li>
    {% end %}
  </ul>
</nav>
<p class="text-center">Particles: {{current_gallery["particle_count"]}}, Cycle type: {{current_gallery["block_type"]}}, High Res Limit: {{round(current_gallery["high_res_limit"], 1)}}, Finished at {{current_gallery["time"][:19]}}</p>
<div class="row no-gutters">
{% for entry in current_gallery["entries"] %}
  <div class="col-lg-3 col-4">
    <a href="{{entry['url']}}" data-toggle="lightbox"  data-gallery="gallery" data-footer="Cycle {{current_gallery['number']}} | {{entry['name']}}">
      <img src="{{entry['url']}}" class="img-fluid" alt="{{entry['name']}}">
    </a>
  </div>
{% end %}
</div>
