<!-- <h5 class="text-center">Classification Cycle Selector</h5> -->
<select class="form-control" id="class-selector">
  {% for number,type, particle_count in classification_list[::-1] %}
    <option value="{{number}}" {% if number == int(current_gallery['number']) %}selected{% end %}>Cycle {{number}} - {{particle_count}} particles</option>
  {% end %}
</select>
<nav aria-label="Class Navigation" class="my-1">
  <ul class="pagination flex-wrap justify-content-center">
    <li class="page-item {% if classification_list[0][0] == int(current_gallery['number']) %}disabled{% end %}">
      <a class="page-link" href="#" value={{classification_list[0][0]}} id="classification-link-{{ classification_list[0][0] }}" data-toggle="tooltip" data-trigger='hover' data-placement="bottom" Title="Cycle {{classification_list[0][0]}} - {{classification_list[0][2]}} Particles">First</a>
    </li>
      {% for number,type, particle_count in classification_list %}
        {% if abs(number - int(current_gallery['number'])) < 3 %}
          <li class="page-item  {% if number == int(current_gallery['number']) %}active{% end %}">
            <a class="page-link {% if type == 'random_seed' %}text-muted {% elif type=='startup' %}text-primary {%elif type=='refinement' %}text-success{%end%}" href="#" value={{number}} id="classification-link-{{ number }}" data-toggle="tooltip" data-trigger='hover' data-placement="bottom" Title="{{particle_count}} Particles">{{number}}</a>
          </li>
        {% end %}
      {% end %}
      <li class="page-item {% if classification_list[-1][0] == int(current_gallery['number']) %}disabled{% end %}">
        <a class="page-link" href="#" value={{classification_list[-1][0]}} id="classification-link-{{ classification_list[-1][0] }}" data-toggle="tooltip" data-trigger='hover' data-placement="bottom" Title="Cycle {{classification_list[-1][0]}} - {{classification_list[-1][2]}} Particles">Latest</a>
      </li>

  </ul>
</nav>
<p class="text-center">Particles: {{current_gallery["particle_count"]}}, Cycle type: {{current_gallery["block_type"]}}, High Res Limit: {{round(current_gallery["high_res_limit"], 1)}}, Finished at {{current_gallery["time"][:16]}}</p>
<div class="row no-gutters">
{% for entry in current_gallery["entries"] %}
  <div class="col-lg-3 col-4">
    <a href="{{entry['url']}}?v={{cachename}}" data-toggle="lightbox"  data-gallery="gallery" data-width="400" data-height="400" data-footer="Cycle {{current_gallery['number']}} | {{entry['name']}} | {{entry['count']}} Particles">
      <img src="{{entry['url']}}?v={{cachename}}" data-toggle="tooltip" data-trigger='hover' data-placement="bottom" Title="Cycle {{current_gallery['number']}} | {{entry['name']}} | {{entry['count']}} Particles" class="img-fluid" alt="{{entry['name']}}" style="width:100%">
    </a>
  </div>
{% end %}
</div>
